@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --foreground-rgb: red;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: red;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: white;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: var(--foreground-rgb);
    background: linear-gradient(
            to bottom,
            transparent,
            var(--background-end-rgb)
        )
        var(--background-start-rgb);
} */

main {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
    margin: 0;

    /* border: 1px solid red; */
}

.material-symbols-outlined.remove {
    color: red;
}


@media (max-width : 786px) {
    /* html{
        font-size: small;
    } */
}